<launch>
 <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />
    <!-- BEGIN ROBOT 0-->
    <group ns="agent0">
      <param name="tf_prefix" value="agent0_tf" />
      <include file="$(find collaborative_agents)/launch/one_agent.launch" >
        <arg name="init_pose" value="-x 3 -y -3 -z 0 -Y 3.1416" />
        <arg name="agent_name"  value="Agent0" />
      </include>
    </group>
    
  <!-- BEGIN ROBOT 1-->
  <group ns="agent1">
    <param name="tf_prefix" value="agent1_tf" />
    <include file="$(find collaborative_agents)/launch/one_agent.launch" >
      <arg name="init_pose" value="-x 3 -y -3 -z 0 -Y 3.1416" />
      <arg name="agent_name"  value="Agent1" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="agent2">
    <param name="tf_prefix" value="agent2_tf" />
    <include file="$(find collaborative_agents)/launch/one_agent.launch" >
      <arg name="init_pose" value="-x -3 -y 3 -z 0 -Y 1.1416 " />
      <arg name="agent_name"  value="Agent2" />
    </include>
  </group>




</launch>
