<launch>
<param name="robot_description"
command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger_2cam.urdf.xacro" />"
<group ns="agent1">
<param name="tf_prefix" value="agent1_tf" />
<include file="$(find multi_robot)/launch/one_agent.launch" >
<arg name="init_pose" value="-x 1 -y 7 -z 0 -Y 3.63" />
<arg name="agent_name"  value="agent1" />
</include>
</group>


<group ns="agent2">
<param name="tf_prefix" value="agent2_tf" />
<include file="$(find multi_robot)/launch/one_agent_1cam90.launch" >
<arg name="init_pose" value="-x 1 -y -4 -z 0 -Y 4.13" />
<arg name="agent_name"  value="agent2" />
</include>
</group>

</launch>
